<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taoerxue.mapper.CourseInfoMapper" >
  <resultMap id="BaseResultMap" type="com.taoerxue.pojo.CourseInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="e_id" property="eId" jdbcType="INTEGER" />
    <result column="e_name" property="eName" jdbcType="VARCHAR" />
    <result column="parent_type_id" property="parentTypeId" jdbcType="INTEGER" />
    <result column="parent_type_name" property="parentTypeName" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="target" property="target" jdbcType="VARCHAR" />
    <result column="duration" property="duration" jdbcType="INTEGER" />
    <result column="student_level_id" property="studentLevelId" jdbcType="INTEGER" />
    <result column="student_level_name" property="studentLevelName" jdbcType="VARCHAR" />
    <result column="student_type_names" property="studentTypeNames" jdbcType="VARCHAR" />
    <result column="student_type_ids" property="studentTypeIds" jdbcType="INTEGER" />
    <result column="characteristic" property="characteristic" jdbcType="VARCHAR" />
    <result column="province_id" property="provinceId" jdbcType="INTEGER" />
    <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="area_id" property="areaId" jdbcType="INTEGER" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="lng" property="lng" jdbcType="DECIMAL" />
    <result column="lat" property="lat" jdbcType="DECIMAL" />
    <result column="submit_time" property="submitTime" jdbcType="TIMESTAMP" />
    <result column="through_time" property="throughTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, e_id, e_name, parent_type_id, parent_type_name, type_id, type_name, price, 
    count, photo, target, duration, student_level_id, student_level_name, student_type_names, 
    student_type_ids, characteristic, province_id, province_name, city_name, city_id, 
    area_id, area_name, address, update_time, create_time, status, lng, lat, submit_time, 
    through_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.taoerxue.pojo.CourseInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from course_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from course_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from course_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.taoerxue.pojo.CourseInfoExample" >
    delete from course_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.taoerxue.pojo.CourseInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into course_info (name, e_id, e_name, 
      parent_type_id, parent_type_name, type_id, 
      type_name, price, count, 
      photo, target, duration, 
      student_level_id, student_level_name, student_type_names, 
      student_type_ids, characteristic, province_id, 
      province_name, city_name, city_id, 
      area_id, area_name, address, 
      update_time, create_time, status, 
      lng, lat, submit_time, 
      through_time)
    values (#{name,jdbcType=VARCHAR}, #{eId,jdbcType=INTEGER}, #{eName,jdbcType=VARCHAR}, 
      #{parentTypeId,jdbcType=INTEGER}, #{parentTypeName,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, 
      #{typeName,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{count,jdbcType=INTEGER}, 
      #{photo,jdbcType=VARCHAR}, #{target,jdbcType=VARCHAR}, #{duration,jdbcType=INTEGER}, 
      #{studentLevelId,jdbcType=INTEGER}, #{studentLevelName,jdbcType=VARCHAR}, #{studentTypeNames,jdbcType=VARCHAR}, 
      #{studentTypeIds,jdbcType=INTEGER}, #{characteristic,jdbcType=VARCHAR}, #{provinceId,jdbcType=INTEGER}, 
      #{provinceName,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, #{cityId,jdbcType=INTEGER}, 
      #{areaId,jdbcType=INTEGER}, #{areaName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{lng,jdbcType=DECIMAL}, #{lat,jdbcType=DECIMAL}, #{submitTime,jdbcType=TIMESTAMP}, 
      #{throughTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.taoerxue.pojo.CourseInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into course_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="eId != null" >
        e_id,
      </if>
      <if test="eName != null" >
        e_name,
      </if>
      <if test="parentTypeId != null" >
        parent_type_id,
      </if>
      <if test="parentTypeName != null" >
        parent_type_name,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="photo != null" >
        photo,
      </if>
      <if test="target != null" >
        target,
      </if>
      <if test="duration != null" >
        duration,
      </if>
      <if test="studentLevelId != null" >
        student_level_id,
      </if>
      <if test="studentLevelName != null" >
        student_level_name,
      </if>
      <if test="studentTypeNames != null" >
        student_type_names,
      </if>
      <if test="studentTypeIds != null" >
        student_type_ids,
      </if>
      <if test="characteristic != null" >
        characteristic,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="provinceName != null" >
        province_name,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="areaName != null" >
        area_name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="lng != null" >
        lng,
      </if>
      <if test="lat != null" >
        lat,
      </if>
      <if test="submitTime != null" >
        submit_time,
      </if>
      <if test="throughTime != null" >
        through_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="eId != null" >
        #{eId,jdbcType=INTEGER},
      </if>
      <if test="eName != null" >
        #{eName,jdbcType=VARCHAR},
      </if>
      <if test="parentTypeId != null" >
        #{parentTypeId,jdbcType=INTEGER},
      </if>
      <if test="parentTypeName != null" >
        #{parentTypeName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        #{target,jdbcType=VARCHAR},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="studentLevelId != null" >
        #{studentLevelId,jdbcType=INTEGER},
      </if>
      <if test="studentLevelName != null" >
        #{studentLevelName,jdbcType=VARCHAR},
      </if>
      <if test="studentTypeNames != null" >
        #{studentTypeNames,jdbcType=VARCHAR},
      </if>
      <if test="studentTypeIds != null" >
        #{studentTypeIds,jdbcType=INTEGER},
      </if>
      <if test="characteristic != null" >
        #{characteristic,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="provinceName != null" >
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="lng != null" >
        #{lng,jdbcType=DECIMAL},
      </if>
      <if test="lat != null" >
        #{lat,jdbcType=DECIMAL},
      </if>
      <if test="submitTime != null" >
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="throughTime != null" >
        #{throughTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.taoerxue.pojo.CourseInfoExample" resultType="java.lang.Integer" >
    select count(*) from course_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update course_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.eId != null" >
        e_id = #{record.eId,jdbcType=INTEGER},
      </if>
      <if test="record.eName != null" >
        e_name = #{record.eName,jdbcType=VARCHAR},
      </if>
      <if test="record.parentTypeId != null" >
        parent_type_id = #{record.parentTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.parentTypeName != null" >
        parent_type_name = #{record.parentTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.typeId != null" >
        type_id = #{record.typeId,jdbcType=INTEGER},
      </if>
      <if test="record.typeName != null" >
        type_name = #{record.typeName,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.count != null" >
        count = #{record.count,jdbcType=INTEGER},
      </if>
      <if test="record.photo != null" >
        photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.target != null" >
        target = #{record.target,jdbcType=VARCHAR},
      </if>
      <if test="record.duration != null" >
        duration = #{record.duration,jdbcType=INTEGER},
      </if>
      <if test="record.studentLevelId != null" >
        student_level_id = #{record.studentLevelId,jdbcType=INTEGER},
      </if>
      <if test="record.studentLevelName != null" >
        student_level_name = #{record.studentLevelName,jdbcType=VARCHAR},
      </if>
      <if test="record.studentTypeNames != null" >
        student_type_names = #{record.studentTypeNames,jdbcType=VARCHAR},
      </if>
      <if test="record.studentTypeIds != null" >
        student_type_ids = #{record.studentTypeIds,jdbcType=INTEGER},
      </if>
      <if test="record.characteristic != null" >
        characteristic = #{record.characteristic,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceId != null" >
        province_id = #{record.provinceId,jdbcType=INTEGER},
      </if>
      <if test="record.provinceName != null" >
        province_name = #{record.provinceName,jdbcType=VARCHAR},
      </if>
      <if test="record.cityName != null" >
        city_name = #{record.cityName,jdbcType=VARCHAR},
      </if>
      <if test="record.cityId != null" >
        city_id = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.areaId != null" >
        area_id = #{record.areaId,jdbcType=INTEGER},
      </if>
      <if test="record.areaName != null" >
        area_name = #{record.areaName,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.lng != null" >
        lng = #{record.lng,jdbcType=DECIMAL},
      </if>
      <if test="record.lat != null" >
        lat = #{record.lat,jdbcType=DECIMAL},
      </if>
      <if test="record.submitTime != null" >
        submit_time = #{record.submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.throughTime != null" >
        through_time = #{record.throughTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update course_info
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      e_id = #{record.eId,jdbcType=INTEGER},
      e_name = #{record.eName,jdbcType=VARCHAR},
      parent_type_id = #{record.parentTypeId,jdbcType=INTEGER},
      parent_type_name = #{record.parentTypeName,jdbcType=VARCHAR},
      type_id = #{record.typeId,jdbcType=INTEGER},
      type_name = #{record.typeName,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      count = #{record.count,jdbcType=INTEGER},
      photo = #{record.photo,jdbcType=VARCHAR},
      target = #{record.target,jdbcType=VARCHAR},
      duration = #{record.duration,jdbcType=INTEGER},
      student_level_id = #{record.studentLevelId,jdbcType=INTEGER},
      student_level_name = #{record.studentLevelName,jdbcType=VARCHAR},
      student_type_names = #{record.studentTypeNames,jdbcType=VARCHAR},
      student_type_ids = #{record.studentTypeIds,jdbcType=INTEGER},
      characteristic = #{record.characteristic,jdbcType=VARCHAR},
      province_id = #{record.provinceId,jdbcType=INTEGER},
      province_name = #{record.provinceName,jdbcType=VARCHAR},
      city_name = #{record.cityName,jdbcType=VARCHAR},
      city_id = #{record.cityId,jdbcType=INTEGER},
      area_id = #{record.areaId,jdbcType=INTEGER},
      area_name = #{record.areaName,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      lng = #{record.lng,jdbcType=DECIMAL},
      lat = #{record.lat,jdbcType=DECIMAL},
      submit_time = #{record.submitTime,jdbcType=TIMESTAMP},
      through_time = #{record.throughTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.taoerxue.pojo.CourseInfo" >
    update course_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="eId != null" >
        e_id = #{eId,jdbcType=INTEGER},
      </if>
      <if test="eName != null" >
        e_name = #{eName,jdbcType=VARCHAR},
      </if>
      <if test="parentTypeId != null" >
        parent_type_id = #{parentTypeId,jdbcType=INTEGER},
      </if>
      <if test="parentTypeName != null" >
        parent_type_name = #{parentTypeName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="photo != null" >
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        target = #{target,jdbcType=VARCHAR},
      </if>
      <if test="duration != null" >
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="studentLevelId != null" >
        student_level_id = #{studentLevelId,jdbcType=INTEGER},
      </if>
      <if test="studentLevelName != null" >
        student_level_name = #{studentLevelName,jdbcType=VARCHAR},
      </if>
      <if test="studentTypeNames != null" >
        student_type_names = #{studentTypeNames,jdbcType=VARCHAR},
      </if>
      <if test="studentTypeIds != null" >
        student_type_ids = #{studentTypeIds,jdbcType=INTEGER},
      </if>
      <if test="characteristic != null" >
        characteristic = #{characteristic,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="provinceName != null" >
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="areaName != null" >
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="lng != null" >
        lng = #{lng,jdbcType=DECIMAL},
      </if>
      <if test="lat != null" >
        lat = #{lat,jdbcType=DECIMAL},
      </if>
      <if test="submitTime != null" >
        submit_time = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="throughTime != null" >
        through_time = #{throughTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.taoerxue.pojo.CourseInfo" >
    update course_info
    set name = #{name,jdbcType=VARCHAR},
      e_id = #{eId,jdbcType=INTEGER},
      e_name = #{eName,jdbcType=VARCHAR},
      parent_type_id = #{parentTypeId,jdbcType=INTEGER},
      parent_type_name = #{parentTypeName,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER},
      type_name = #{typeName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      count = #{count,jdbcType=INTEGER},
      photo = #{photo,jdbcType=VARCHAR},
      target = #{target,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=INTEGER},
      student_level_id = #{studentLevelId,jdbcType=INTEGER},
      student_level_name = #{studentLevelName,jdbcType=VARCHAR},
      student_type_names = #{studentTypeNames,jdbcType=VARCHAR},
      student_type_ids = #{studentTypeIds,jdbcType=INTEGER},
      characteristic = #{characteristic,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=INTEGER},
      province_name = #{provinceName,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=INTEGER},
      area_id = #{areaId,jdbcType=INTEGER},
      area_name = #{areaName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      lng = #{lng,jdbcType=DECIMAL},
      lat = #{lat,jdbcType=DECIMAL},
      submit_time = #{submitTime,jdbcType=TIMESTAMP},
      through_time = #{throughTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>